.detail {
  background: url("https://roguefarmsblog.files.wordpress.com/2012/08/lotsa-hops.jpg");
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;

  &.favorite {
    h1 {
      color: #6699ff;
      text-shadow: 5px 5px 5px black;
      font-family: 'Chicle', cursive;
      font-size: 50px;
      background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('http://homebrewmanual.com/media/beer-ingredients-hops.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 20px;
      width: 50%;
      padding: 50px 5px 50px 5px;
    }
  }


  .back-face-p {
    font-size: 18px;
    line-height: 1.4;
    margin-top: 10px;
    color: black;
    text-shadow: none;
    overflow-y: scroll;
    height: 90%;
  }

  header, footer {
    width: 95%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    // height: 85px;
    clear: both;
    overflow: hidden;
    zoom: 1;


    h1 {
      margin-top: 10px;
      font-family:'Chicle', cursive;
      font-size: 50px;
      text-shadow: 5px 5px 5px black;
      font-weight: bold;
      color: #6699ff;
    }
    .fav {
      outline: none;
      text-decoration: none;
      font-style: Verdana;
      font-weight: bolder;
      margin-top: 10px;
      height: 40px;
      box-shadow: 0 2px #666;
      transition: .1s;
      font-size: 12px;
      background-color: red;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 5px 5px 5px 5px;
      box-shadow: 0 2px #666;
      float: right;
      cursor: pointer;

      &:active {
        transform: translateY(4px);
        transition: .1s;
      }
    }
    .unfav {
      outline: none;
      text-decoration: none;
      font-style: Verdana;
      font-weight: bolder;
      margin-top: 10px;
      height: 40px;
      box-shadow: 0 2px #666;
      transition: .1s;
      font-size: 12px;
      background-color: red;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 5px 5px 5px 5px;
      box-shadow: 0 2px #666;
      float: right;
      cursor: pointer;

      &:active {
        transform: translateY(4px);
        transition: .1s;
      }
    }
    .back {
    border-radius: 10px;
    outline: none;
    float: left;
    text-decoration: none;
    font-style: Verdana;
    font-weight: bolder;
    color: black;
    background-color: silver;
    font-size: 12px;
    margin-top: 10px;
    height: 40px;
    box-shadow: 0 2px #666;
    transition: .1s;

    &:active {
      transform: translateY(4px);
      transition: .1s;
    }
  }

  }
  .brewery-info {
    display: flex;
    // margin-left: 10px;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    background-color: lightgray;
    background: rgba(0,0,0,0.4);
    color: white;
    border-radius: 5px;
    padding: 5px 2px 5px 2px;
    font-size: 15px;
  }

  .beer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
  }

  #f1_container {
    text-shadow: 3px 3px 3px black;
    font-family: Verdana;
    font-size: 15px;
  	position: relative;
  	margin: .8em;
  	width: 100%;
  	height: 350px;
  	z-index: 1;
    -webkit-perspective: 1000;
    @media screen and (min-width: 650px) {
      width: 30%;
    }
  }
  .face.back {
  	display: none;
  }

  #f1_card {
  	width: 100%;
  	height: 100%;
  	-webkit-transform-style: preserve-3d;
  	-webkit-transition: all .8s ease-in-out;
  	-webkit-box-shadow: 5px 5px 5px gray;

  }
  #f1_container:hover #f1_card {
  	-webkit-transform: rotateY(180deg);
  	-webkit-box-shadow: -2px 2px 2px #aaa;
  }
  .face {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	-webkit-backface-visibility: hidden;

    h2 {
      color: white;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    // img {
    //   width: 100%;
    //   height: 100%;
    // }
  }

  .face.front {
    background-image: url("http://austinwholebodyhealth.com/wp-content/uploads/2015/06/Dollarphotoclub_62327273.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .face.back {
    font-size: 12px;
  	display: block;
  	-webkit-transform: rotateY(180deg);
  	-webkit-box-sizing: border-box;
  	padding: 10px;
  	color: white;
  	text-align: center;
  	background-color: lightgray;
  	border: 1px solid #f2f2f2;

    p {
      text-align: left;
    }
  }
  .missing-content {
    margin: 40px auto;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    background: rgba(0,0,0,0.4);
    @media screen and (min-width: 650px) {
      width: 40%;
    }

    p {
      color: white;
      font-weight: bold;
      font-family: Verdana;
      text-shadow: 3px 3px 3px black;
      line-height: 2;
      font-size: 25px;
    }
    a {
      text-decoration: none;
      color: #0066ff;
      font-weight: bold;
      font-size: 25px;
    }
  }

}
