.register {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-image: url("https://parkstreetgrille.files.wordpress.com/2016/02/beertaps-1.jpg");
  background-repeat: no-repeat;
  @media screen and (min-width: 650px) {
  }

  form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .form-group {
    background-position: center;
    text-align: center;
    margin: 0px auto;
    border-radius: 5px;



    input {
      border: none;
      box-shadow: 5px 5px 5px black;
      background-color: #529ECC;
      outline: none;
      text-align: center;
      border-radius: 5px;
      padding: 10px 5px 10px 5px;
      width: 350px;
      font-size: 20px;
      color: white;
      font-family: Verdana;
      cursor: pointer;
    }

    ::-webkit-input-placeholder {
      color: white;
      font-size: 20px;
      font-family: Verdana;
      text-shadow: 3px 3px 3px black;

    }
  }

  button {
    color: white;
    background-color: red;
    outline: none;
    font-size: 20px;
    font-family: Verdana;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    background-position: center;
    width: 120px;
    text-align: center;
    margin: 20px auto;
    text-shadow: 3px 3px 3px black;
    font-weight: bold;
    cursor: pointer;


  }
  .button:active {
    transform: translateY(4px);
  }
}
