
<div class="detail" ng-class="{ 'favorite': detailCtrl.isFavorite() }">
  <header>
    <button id="back" ui-sref="breweries">Go Back</button>
    <h1 ng-bind-html="detailCtrl.brewery.info.name"><h1>

    <button ng-click="detailCtrl.favoriteBrewery()" ng-hide="detailCtrl.isFavorite()">Favorite</button>
    <button ng-click="detailCtrl.unfavoriteBrewery()" ng-show="detailCtrl.isFavorite()">Unfavorite</button>
  </header>
  <div class="brewery-info">
    <h3>{{ detailCtrl.brewery.info.description }}</h3>
  </div>
  <div class="beer-container">
    <div id="f1_container" ng-repeat="beer in detailCtrl.brewery.beers">
      <div id="f1_card" class="shadow">
    		<div class="front face">
          <h2>{{ beer.name }}</h2>
    		</div>
    		<div class="back face">
          <p style="font-weight: bold; margin-top: 5px; text-align: center; color: red; text-shadow: none;">{{ beer.style.abvMax }} % Alcohol by Volume</p>

    			<p class="back-face-p">{{ beer.style.description }}</p>
    		</div>
      </div>
    </div>
  </div>

  <footer></footer>
</div>
