<div class="page">
  <header></header>
  <div class="title">Local Brews</div>


  <div class="brewery" ng-repeat="brewery in listCtrl.breweries">
    <div class="brewery--logo">
      <img ng-src="{{ brewery.brewery.images.squareMedium }}">
    </div>

    <div class="brewery--info">
      <a ui-sref="brewery({ id: brewery.breweryId })">{{ brewery.brewery.name }}</a>
      <a ui-sref="brewery({ id: brewery.breweryId })">{{ brewery.website }}</a>


      <ul>
        <li ui-sref="brewery({ id: brewery.breweryId })">{{ brewery.locality }}</li>
        <li ui-sref="brewery({ id: brewery.breweryId })">{{ brewery.region }}</li>
        <li ui-sref="brewery({ id: brewery.breweryId })">{{ brewery.phone }}</li>
        <li ui-sref="brewery({ id: brewery.breweryId })">{{ brewery.streetAddress }}</li>
      </ul>

    </div>

  </div>
</div>
