<div class="list">
  <header>
    <div class="title">Local Brews</div>
  </header>

  <div class="breweries">
    <div class="brewery" ng-repeat="brewery in listCtrl.breweries">
      <div class="brewery--logo">
        <a ui-sref="brewery({ id: brewery.breweryId })">
          <img ng-src="{{ brewery.brewery.images.squareMedium }}">
        </a>
      </div>

      <div class="brewery--info">
        <a class="a1" ui-sref="brewery({ id: brewery.breweryId })" ng-bind-html="brewery.brewery.name"></a>
        <br>
        <a href="{{ brewery.website }}" target="_blank">Visit Website</a>

        <ul>
          <li ui-sref="brewery({ id: brewery.breweryId })">{{ brewery.locality }}</li>
          <li ui-sref="brewery({ id: brewery.breweryId })">{{ brewery.region }}</li>
          <li ui-sref="brewery({ id: brewery.breweryId })">{{ brewery.phone }}</li>
          <li ui-sref="brewery({ id: brewery.breweryId })">{{ brewery.streetAddress }}</li>
        </ul>

      </div>

    </div>
  </div>

  <div id="map">
    <ng-map default-style="true" center="-25.363882,131.044922" zoom="4" zoom-to-include-markers="true">
      <marker id="brewery_{{ brewery.id }}" position="{{ brewery.latitude }}, {{ brewery.longitude }}" title="{{ brewery.brewery.name}}" ng-repeat="brewery in listCtrl.breweries"
        on-click="listCtrl.showWindow(brewery)"></marker>
      <info-window id="brewery_window">
        <div ng-non-bindable="">
          <span ng-bind-html="listCtrl.map.brewery.brewery.name"></span>
          {{ listCtrl.map.brewery.streetAddress }}<br>
          {{ listCtrl.map.brewery.locality }}<br>
          {{ listCtrl.map.brewery.region }}<br>
          {{ listCtrl.map.brewery.phone }}<br>
          <a href="{{ listCtrl.map.brewery.website }}" target="_blank">Visit Website</a>

        </div>
      </info-window>
    </ng-map>
  </div>
  <br>


    <div class="social">
      <div>
        <a href="https://twitter.com/LRBrewBus" target="_blank">
          <img src="http://media1.fdncms.com/arktimes/imager/get-ready-to-hop-aboard-the-little-rock-br/u/original/3654180/lrbrewbus.png">
        </a>
        <a href="https://twitter.com/LRBrewBus" target="_blank">LRBrewBus</a>
      </div>

      <div>
        <a href="https://twitter.com/ARBrewersGuild" target="_blank">
          <img src="https://pbs.twimg.com/profile_images/717726019549945856/8ZlgxyKU.jpg">
        </a>
        <a href="https://twitter.com/ARBrewersGuild" target="_blank">Arkansas Brewers Guild</a>
      </div>

      <div>
        <a href="https://twitter.com/BeerArkansas" target="_blank">
          <img src="https://pbs.twimg.com/profile_images/677875392590426112/yAOKCHEH.png">
        </a>
        <a href="https://twitter.com/BeerArkansas" target="_blank">AR Craft Beer News</a>
      </div>
    </div>

    <footer></footer>



</div>
