 <div class="login">
  <script type="text/javascript" src="http://leaverou.github.io/prefixfree/prefixfree.min.js"></script>

  <section>
      <div id="action">
          <div id="keg">
              <div id="pipe-handle"></div>
              <div id="pipe"></div>
              <div id="pipe-front"></div>
          </div>

          <div class="glass">
              <div class="beer"></div>
              <div class="handle">
                  <div class="top-right"></div>
                  <div class="bottom-right"></div>
              </div>
              <div class="front-glass"></div>
          </div>
      </div>
  </section>

  <div>
    <form ng-submit="loginCtrl.login()">
      <div class="form-group">
        <label for="exampleInputEmail1"></label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email" ng-model="loginCtrl.user.email">
      </div>
      <br>
      <div class="form-group">
        <label for="exampleInputPassword1"></label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder=" Enter Password" ng-model="loginCtrl.user.password">
      </div>
      <button type="register" class="btn btn-default">Login</button>
    </form>
  </div>
</div>
