<body>

  <canvas id='bgCanvas'></canvas>
  <div id="foam_1"><img src="https://dl.dropboxusercontent.com/u/95690690/Web%20Design%20Public/png/beer_foam_edit.png" width="100%" height="auto"></div>
  <div id="foam_2"><img src="https://dl.dropboxusercontent.com/u/95690690/Web%20Design%20Public/png/beer_foam_edit.png" width="100%" height="auto"></div>
  <div id="foam_3"><img src="https://dl.dropboxusercontent.com/u/95690690/Web%20Design%20Public/png/beer_foam_edit.png" width="100%" height="auto"></div>
  <div id="foam_4"><img src="https://dl.dropboxusercontent.com/u/95690690/Web%20Design%20Public/png/beer_foam_edit.png" width="100%" height="auto"></div>

  <form ng-submit="registerCtrl.register()">
    <div class="form-group">
      <label for="exampleInputEmail1"></label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="registerCtrl.newUser.email">
    </div>
    <br>
    <div class="form-group">
      <label for="exampleInputPassword1"></label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="registerCtrl.newUser.password">
    </div>

  </form>
    <button type="register" class="btn btn-default" ng-click="registerCtrl.register">Register</button>

</body>
